.itemLikesInfo {
    margin-top: 15px;
}
.itemImage{
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid white;
}
.btn {
    margin-right: 3px;
    margin-left: 3px;
}
img {
    margin-top: 15px;
    border: rgb(142, 142, 142) solid 1px;
    max-width: 300px;
    max-height: 200px;
}
#description {
    font-size: 18px;
    min-height: 200px;
    max-width: 200px;
    padding-top: 50px;
}
.countText {
    margin-top: 10px;
}