.itemLikesInfo {
    margin-top: 15px;
}
.countButton {
    margin-bottom: 15px;
}
.item{
    margin-left: 25px;
    margin-right: 25px;
}
img {
    margin-top: 15px;
    border: rgb(142, 142, 142) solid 1px;
    max-width: 300px;
    max-height: 200px;
}
#description {
    font-size: 18px;
    max-width: 200px;
    min-height: 200px;
    padding-top: 50px;
}
.countText {
    margin-top: 10px;
}