.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.App-header {
  background-color: rgb(237, 240, 245);
  color: rgb(6, 6, 50);
  padding: 1em;
  border: 0.5px solid rgba(58, 58, 58, 0.297);
  margin-bottom: 2em;
}
.App-title {
  font-size: 2.2em;
  font-weight: bold;
}
.form-control {
  font-style: italic;
  margin-left: 30px;
  margin-right: 130px;
}
.outputList{
  margin-top: 10px;
}
.birdQuote{
  font-style: italic;
  font-size: 14px;
  padding-top: 1em;
}
#addButton {
  background-color: rgb(211, 218, 232) !important;
  color: black;
}
#addImageTitle {
  text-align: left;
  margin-left: 35px;
  font-size: 20px;
}
#copyright{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}