.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: rgb(237, 240, 245);
  padding: 1em;
  color: rgb(6, 6, 50);
  border: 0.5px solid rgba(58, 58, 58, 0.297);
  margin-bottom: 3em;
}

.App-title {
  font-size: 2.5em;
}
.form-control {
  font-style: italic;
  margin-left: 30px;
  margin-right: 130px;
}
.outputList{
  margin-top: 10px;
}


